<div class="container-fluid align-items-center justify-content-center d-flex flex-column">
  <h4>Resource allocation application</h4>
  <div class="main d-flex">
    <div class="available d-flex flex-column border">
      <div *ngFor="let user of available; let i = index" (click)="aselected=i"class="a-user d-flex">
        <img src="{{user.img}}" alt="Photo" style="height: 20px;">
        <span class="name">{{user.name}}</span>
      </div>
    </div>
    <div class="action d-flex flex-column">
      <button class="btn btn-primary" (click)="assign()">Assign>>></button>
      <button class="btn btn-primary"><<Revoke</button>
    </div>
    <div class="assigned d-flex flex-column border">
      <div *ngFor="let user of assigned; let i = index" (click)="aaselected=i"class="a-user d-flex">
        <img src="{{user.img}}" alt="Photo" style="height: 20px;">
        <span class="name">{{user.name}}</span>
      </div>
    </div>
  </div>
</div>