.container-fluid {
    height: 100vh;
}

.available {
    width: 30%;
}

.assigned {
    width: 30%;
}

.action {
    width: 30%;
}

::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: #4183F0; 
    height: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4183F0; 
}

@media(max-width:720px) {
    .flex-responsive {
        flex-direction: column;
    }
    .available {
        width: 100%;
    }
    .assigned {
        width: 100%;
    }
    .action {
        width: 100%;
        justify-content: center;
    }
}